<div class="row header">
    <div class="col-2 ps-4 logo">
        <img [src]="'/img/flags/logo_app.png'" [alt]="'logo_app'" width="55px" height="55px" (click)="goHome()">
    </div>
    <div class="col-10 d-flex justify-content-end align-items-center">
        <div class="languageChange" (click)="toggleLanguage()">
            <ion-icon class="me-1" name="globe-outline"></ion-icon>
            <span >  {{ currentLang.toUpperCase() }}</span>
        </div>
        <mat-icon aria-hidden="false" [matBadge]="numProductSignal()" aria-label="Shopping cart"
            fontIcon="shopping_cart" routerLink="/pay-order" class="mx-3 icon"></mat-icon>
    </div>
</div>