<div class="row">
    <div class="col-12">

        <div class="row">
            <div class="col-12 text-end">
                <h3>{{'label.total'|translate}}: {{totalOrderSignal()|number:'1.2-2'}} €</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 table-responsive">

                <table mat-table [dataSource]="productsSignal()" class="full-width-table">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> <h4>{{'label.name'|translate}} </h4></th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'cursorTd':element.product.extras}"> {{element.product.name|translate}}
                            @if(element.product.extras){
                                <ion-icon class="productName" name="help-circle-outline"></ion-icon>
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> <h4>{{'label.price'|translate}}</h4> </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'cursorTd':element.product.extras}"> {{element.product|calculateTotalPrice}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> <h4>{{'label.quantity'|translate}}</h4> </th>
                        <td mat-cell *matCellDef="let element" class="quantityProducts">
                            <button class="btn color-button pt-1 px-2 py-0 me-2" (click)="oneLessProduct($event,element.product)"><ion-icon name="remove-circle-outline"></ion-icon></button>
                             <span> {{element.quantity}} </span>
                            <button class="btn color-button pt-1 px-2 py-0 ms-2" (click)="oneMoreProduct($event,element.product)"><ion-icon name="add-circle-outline"></ion-icon></button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> <h4>{{'label.total'|translate}}</h4> </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="{'cursorTd':element.product.extras}"> {{element.product |calculateTotalPrice: element.quantity}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="showExtras(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>



            </div>
        </div>

    </div>
</div>