<div class="row pt-3">
    <div class="col-12">
        
        <div class="row justify-content-center">

            @if (categories$ | async; as categories) {
            @for (category of categories; track category._id) {

                
            <div class="col-lg-2 col-md-4 col-6 p-3 d-flex card-style">

                <mat-card class="bg-white text-center w-100 h-100 " appearance="outlined" [routerLink]="['/products',category._id]">

                    <img mat-card-image class="p-1 img-card" [src]="'/img/products/'+category.img"
                        [alt]="category.name">

                    <mat-card-content class="card-subtittle rounded-bottom text-white p-2 mt-auto">
                        <h6 class=" text-center">
                            {{ category.name | translate }}
                        </h6>
                    </mat-card-content>


                </mat-card>

            </div>
            }
            }

        </div>

    </div>
</div>