.card-style mat-card {
  transition: transform 0.1s ease;
  transform: scale(1) translateZ(0);
}

.card-style:hover mat-card {
  transform: scale(1.05) translateZ(0);
}

.card-subtittle {
  background-color: var(--color-subtittle);
}

.background {
  width: 100vw;
  height: 90vh;
  margin-left: calc(-50vw + 50%);
  background-image: url('/img/complements/Background-Burguer.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  align-content: center;
}

.information {
  padding-left: 5rem;
}

.separation {
  width: 45%;
}

.tittle {
  color: var(--color-surface);
  font-size: 4rem;
  font-weight: bold;
}

.subtittle {
  color: var(--color-surface);
  font-family: var(--font-heading);
  font-size: 1.5rem;
}

.btn {
  border-radius: 40px;
  padding: 1.2rem 2.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.color-buttom-wiew {
  background: var(--color-surface);
  color: var(--color-subtittle);
}

.color-buttom-wiew:hover {
  transition: transform 0.1s ease;
  transform: scale(1.05)
}

.color-button-request {
  background: none;
  border: 1px solid var(--color-surface);
  color: var(--color-surface);
}

.color-button-request:hover {
  background: var(--color-tittle);
  color: var(--color-surface);
}

.banner {
  background: rgba(0, 0, 0, 0.938);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p {
  color: var(--color-surface);
  padding-top: 15px;
  text-align: center;

}

.text-categories {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-heading);
  margin-bottom: 0;
  color: var(--color-tittle);
}

.text-explore {
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-subtittle);
}

.categories{
  margin-block: 5rem;
  margin-inline: 2rem;
}

mat-card{
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 992px) {

  .separation {
    width: 100%;
  }

  .tittle {
    font-size: 3.5rem;
  }

  .subtittle {
    font-size: 1.5rem;
  }

  .information {
    padding-inline: 5rem;
    text-align: center;
  }
  .categories{
  margin-block: 2rem;
  margin-inline: 0;
}
}

@media (max-width: 576px) {

  .background {
    padding: 4rem 1.5rem;

  }

  .information {

    padding-left: 0;
    text-align: center;
  }

  .separation {
    width: 100%;
  }

  .tittle {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .subtittle {
    font-size: 1.2rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    width: 100%;
    padding: 1rem;
  }

  .banner {
    font-size: 10px;
  }

  .text-categories {
    font-size: 1.3rem;
  }

  .text-explore {
    font-size: 2rem;
  }
    .categories{
  margin-block: 1rem;
  margin-inline: 0;
}
}